/* dark background color (hero and footer): #1F2937
 * hero main text: 48px extra-bold #F9FAF8
 * hero secondary text, header link text: 18px #E5E7EB
 * header logo text: 24px #F9FAF8
 * button color, call to action bg color: #3882F6
 * information header text: 36px extra-bol #1F2937
 * quote section background color: #E5E7EB
 * quote text: 36px light italic #1F2937
 */

/* General tags */
body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: Roboto, Arial, serif;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
}

button {
	font-size: 18px;
	font-weight: 600;
	padding: 8px 32px;
	border-radius: 6px;
	color: #F9FAF8;
	background-color: #3882F6;
}

/ * Page sections */
.section {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	vertical-align: baseline;
	width: 100%;
}

/* Section margins */
.wide {
	width: 70%;
	margin: auto;
}

.narrow {
	width: 58%;
	margin: auto;
}

/* Shared */
#nav-section, #header-section {
	background-color: #1F2937;
	justify-content: space-between;
}

/* Nav Bar */
#nav-section {
	display: flex;
	flex-direction: column;
	min-height: 64px;
	background-color: #1F2937;
}

#nav-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#nav-logo {
	color: #F9FAF8;
	font-size: 24px;
	flex: 1;
	flex-grow: 0.5;
}

#nav-links {
	display: flex;
	justify-content: flex-end;
	gap: 32px;
	align-items: right;
	flex: 1;
}

#nav-links a {
	color: #E5E7EB;
	font-size: 18px;
	flex: 0 1 auto;
	flex-basis: auto;
	text-align: right;
}

/* Header */
#header-section {
	display: flex;
	flex-direction: column;
	padding-top: 112px;
	padding-bottom: 140px;
	justify-content: space-between;
}

#header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 96px;
}

#hero-splash {
	display: flex;
	flex-direction: column;

	flex: 1;

	gap: 8px;
	align-items: flex-start;
	width: 50%;
}

#hero-splash h2 {
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
}

#hero-splash p {
	font-size: 18px;
	color: #E5E7EB;
}

#hero-splash button {
	border: none;
}

#header-image {
	flex: 1;
	align-self: right;
	width: 50%;
}

#header-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* Info */
#info-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 48px;
	padding-bottom: 96px;
}

#info-section h2 {
	flex: 1;
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
}

#info-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

#info-images {
	flex: 1;

	display: flex;
	justify-content: stretch;
	gap: 32px;
}

.info-image {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.info-image p {
	color: #1F2937;
	font-size: 18px;
	text-align: center;
}

.info-image img {
	flex: 1 1 auto;
	max-height: 150px;
	object-fit: cover;
	border-radius: 8px;
	aspect-ratio: 1 / 1;
}

/* Quote */
#quote-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 128px;
	padding-bottom: 96px;
	background-color: #E5E7EB;
}

#quote-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

#quote-content h2 {
	flex: 1;
	font-size: 36px;
	font-weight: 50;
	font-style: italic;
	color: #1F2937;
}

#quote-content h3 {
	flex: 1;
	font-size: 24px;
	font-weight: 800;
	color: #1F2937;
	align-self: flex-end;
}

/* Call to action */
#cta-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0px 100px 0px;
}

#cta-content {
	flex: 1;
	min-height: 160px;

	display: flex;
	justify-content: space-around;

	background-color: #3882F6;
	border-radius: 10px;
}

#cta-text h2, #cta-text p {
	color: #F9FAF8;
}

#cta-text {
	flex: 0 2 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

#cta-text h2 {
	flex: 0 0 auto;
	font-size: 32px;
}

#cta-text p {
	flex: 0 0 auto;
	font-size: 14px;
}

#cta-button {
	flex: 0 1 auto;

	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

#cta-button button {
	border: 2px solid white;
}

/* Footer */
#footer-section {
	flex: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 64px;

	background-color: #1F2937;
}

#footer-section p {
	flex: 0 0 auto;
	align-self: center;
	align-content: center;
	color: white;
}
